 * {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

header {
    width: 100%;
    background-color: rgb(41,	41,	74)	;
    position: absolute;    
}

#heroImage {
    background-image: url("design-assets/bgk-header.png");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#heroInfo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.heroHeading {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid cyan;
}

.learnMoreButton {
    border: 2px solid cyan;
    padding: 8px;
    margin-top: 30px;
}

#ourStory {
    border: 2px greenyellow solid;
    display: flex;
    align-content: center;
}

  
  html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h2 {
    font-family: serif;
  }
  
  .amazingTeam {
    background-image: url(./design-assets/bgk-header.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem;
    color: white;
  }
  
  .amazingTeam__head,
  .amazingTeam__para,
  .amazingTeam__para2 {
    text-transform: uppercase;
    padding-bottom: 0.4rem;
    color: white;
  }
  
  .amazingTeam__line {
    height: 1px;
    background-color: white;
    width: 50px;
    margin: 1rem auto;
  }
  
  .amazingTeam-flex {
    display: flex;
    gap: 15px;
    margin: 40px auto;
    justify-content: center;
  }
  
  .amazingTeam-flex__card {
    border: 1px white solid;
  }
  
  .amazingTeam-flex__card img {
    height: 200px;
    width: 180px;
  }
  
  .amazingTeam-flex h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 15px 1px 15px;
  }
  
  .amazingTeam-flex p {
    text-transform: uppercase;
    font-size: .8rem;
    padding: 1px 15px 15px 15px;
  }
  
  .amazingTeam__button, .goodNews__button {
    color: #63d1c7;
    border: 1px #63d1c7 solid;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .goodNews {
    display: flex;
    width: 765px;
    margin: 0 auto;
    padding: 4rem;
    justify-content: space-between;
}

.goodNews__head {
  text-transform: uppercase;
    padding-bottom: 0.4rem;
}

.goodNews__head--client {
    padding-left: 1rem;
    padding-bottom: 1.2rem;
}

.goodNews__box--half-width {
width: 50%;
}


.goodNews__form {
   display: flex; 
   flex-direction: column;   
}

.goodNews__form > input, textarea {
  height: 2rem;
  border: 1px lightgrey solid;
  color: grey;
  padding: 0.2rem 1rem;
  font-size: 0.9rem;
  margin-top: 20px;
}

.goodNews__form > textarea {
font-family: sans-serif;
padding-top: 0.7rem;
height: 150px;
}

.goodNews__button {
  margin-right: auto;
}

.goodNews__client {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px
}

.goodNews__client img {
    max-width: 130px;
    padding: 0.5rem 1rem;
    margin-top: auto;
}

.ourStory {
  display: flex;
  flex-direction: column;
  height: 550px;
  background-image: url(./design-assets/bgk-middle.png);
  justify-content: center;
  align-items: center;
}

.ourStory__item {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 0.7rem;
}

/* FOOTER ELEMENTS */

.footer {
    background-image: url(./design-assets/bgk-footer.png);
    background-size: cover;
}
.footer p {
    color: white;
    font-size: 0.7rem;
    line-height: 1.7;
}

.footer h3 {
    margin-top: 15px;
}

.footer__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    }    



.footer__item a{
    color: white;
    text-decoration: none;
}

.footer__item a:hover{
    text-decoration: underline;
}

.footer__item h3 {
    color: white;
    font-size: 1rem;
}


.footer__input {
  padding: 0;  
  height: 2rem;
  border: 1px rgba(255, 255, 255, 0.7) solid;
  color: white;
  opacity:0.7;
  padding: 0.1rem .7rem;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

.footer__button {
    color: white;
    opacity:0.7;
    background-color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 1rem;
    border: none;
}

@media screen and (min-width:765px) {
    .footer__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        width: 765px;
        margin: 0 auto;
        padding: 3rem;
        gap: 13px;
        text-align: left;
    }

.footer__item--1 {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;

}

.footer__item--2 {
  grid-area: 2/1/3/2;

}
.footer__item--3 {
  grid-area: 1/2/2/3;

}
.footer__item--4 {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;

}
.footer__item--5 {
  grid-area: 1/3/2/4;
}
.footer__item--6 {
  grid-area: 2/3/3/4;
}
.footer__item--7 {
  grid-area: 3/1/4/3;
  display: flex;
  gap: 20px;
  margin-top: 1.5rem;
  
}
.footer__item--8 {
    grid-area: 3/3/4/4;
    text-align: right;
    margin-top: 1.5rem;
}
}