* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.amazingTeam {
    text-align: center;
    background-color: lightblue
}
.amazingTeam__head {
}
.amazingTeam__para {
}
.amazingTeam__line {
height: 2px;
background-color: teal;
width: 50px;
margin: 0.5rem auto;

}
.amazingTeam-flex {
display: flex;
gap: 10px;
margin: 0 auto;
justify-content: center;
}
.amazingTeam-flex__card {

border: 1px black solid;
}
.amazingTeam-flex__card img {
    height: 200px;
    width: 180px;
}
.amazingTeam__para2 {

}
.amazingTeam__button {

}