* {
    margin: 0;
    padding 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    height: 50px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px
}

.main-nav__item {
    list-style: none;
    text-transform: uppercase;
}

.ourStory {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: navy;
    justify-content: center;
    align-items: center;
}

.ourStory__item {
    text-transform: uppercase;
}